apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: prom-data-pvc
  namespace: monitoring
  labels:
    app: prometheus
spec:
  storageClassName: "longhorn-local"
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 32Gi