<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1070089009017-gvkm5aclu415mblivlhehoeve0vn4rei.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1070089009017-gvkm5aclu415mblivlhehoeve0vn4rei</string>
	<key>API_KEY</key>
	<string>AIzaSyByLRUZDFEajOfn4Y8Z3G4x28UDWUgO900</string>
	<key>GCM_SENDER_ID</key>
	<string>1070089009017</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kamushek.crescore</string>
	<key>PROJECT_ID</key>
	<string>unique-score</string>
	<key>STORAGE_BUCKET</key>
	<string>unique-score.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1070089009017:ios:028ac6db158e49aa7de1a8</string>
</dict>
</plist>